@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1rem;  
  color: #3a3f4e;
  background-color:#f7f7f7;
  
}

.workspace-wrapper header {
  max-width: 1170px;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-wrapper header p {
  margin-top: .5rem;
  font-size: .925rem;
}

.workspace-wrapper #map {
  max-width: 100%;
  height: 475px;
  margin: 2rem auto 0;
}