@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  color: #3a3f4e;
  background-color: rgb(7, 7, 7);
}

.workspace-wrapper header {
  max-width: 100%;
  /* height: 75vh; */
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-wrapper header p {
  margin-top: 0.5rem;
  font-size: 0.925rem;
}

.workspace-wrapper .map {
  max-width: 90vw;
  height: 78vh;
  margin: 2rem auto;
}
@media screen and (max-width: 800px) {
  .workspace-wrapper .map {
    height: 68vh;
  }
}
@media screen and (max-width: 500px) {
  .workspace-wrapper .map {
    height: 55vh;
    margin: 0rem auto;
  }
}
